.login_body {
    background-color: #e4dada;    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    background-color: #e4dada;   
}

h2 {
    font-size: xx-large;
}

.container {
    width: 500px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    background-color: #e4dada;
    text-align: center;
}

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.submit {
    background-color: rgba(194, 40, 40, 1);
    border: none;
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.submit:hover {
    background-color: rgba(194, 40, 40, .8);
    
}


th, td {
    padding: 12px 20px;
    border: 1px solid whitesmoke;
    text-align: center;
    box-sizing: border-box;
}

th {
    color: white;
    background-image: linear-gradient(to right, rgb(194, 40, 40) , rgb(185, 131, 131));
    font-size: 18px;
}

tr {
    border-style: solid;
    border-color: rgb(251, 251, 251);
    border-radius: 2px;
}

table{
    border-collapse: collapse;
}

#formatting {
    margin-top: 75px;
    width: 80%;
    max-width: 1200px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.student_body{
    background-color: #e4dada;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#student_buttons {
    display: flex;
    justify-content: center;
    /* gap: 20px; */
}




#signout {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgba(194, 40, 40, 1);
    color: white;
    border: none;
    /* border-radius: 5px; */
    cursor: pointer;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
    transition: background-color 0.3s;
}
#signout:hover {
    background-color: rgba(194, 40, 40, 0.8);
}

#student_buttons button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgba(194, 40, 40, 1);
    color: white;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
    transition: background-color 0.3s;
}

#student_buttons button:active {
    background-color: #555;
}



#student_table{
    width: 100%;
    border-collapse: collapse;
}

#student_table table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    text-transform: capitalize;
    transition: background-color 0.7s;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#sign_out_button {
    position: absolute;
    right: 25px;
    top: 20px;
    border: #555 dashed 1px;
    padding-right: 5px;
}

.teacher_body {
    background-color: #e4dada;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teacher_navbar {
    background-color: rgb(35, 33, 33);
    position: fixed; /* Makes the navbar stay fixed at the top */
    top: 0; /* Ensures the navbar is aligned to the top */
    left: 0; /* Aligns to the left edge */
    right: 0; 
    overflow: hidden;
    height: 75x; /* Adjust height as needed */
    display: flex;
    margin-bottom: 20px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
}
.teacher_navbar a {
    float: left;
    color: #f2f2f2;
    background-color: rgba(194, 40, 40, 1);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    height: 100%;
    display: flex; /* Makes the <a> a flex container */
    align-items: center; /* Vertically centers text inside the <a> */
    justify-content: center;
    box-sizing: border-box;
}

.teacher_navbar a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: rgba(194, 40, 40, 1);
    color: white;
}

#teacher_displayname, #coursename, #student_displayname{
    padding-left: 15px;
    color: white
}

#teacher_table {
    margin-top: 75px; 
}

#students_table {
    margin-top: 75px;
    width:100%;
}

#student_buttons button:hover {
    background-color: rgba(194, 40, 40, 0.8);
}

#student_table button {
    width: 90%;
    box-sizing: border-box;
    text-align: center;
    padding: 12px 20px;
    font-size: 15px;
}