<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/login.css" />
    <script src="/static/student.js"> </script>
    <title>Login Page</title>
</head>
<body>
    <div class="container">
        <h2>Login Page</h2>
        <form action="/login_method" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter you Username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your Password" required>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/login.css" />
    <script src="/static/student.js"> </script>
    <title>Login Page</title>
</head>
<body>
    <div class="container">
        <h2>Login Page</h2>

        <!-- Flash -->
        {% if error%}
            <p><strong>{{error}}</strong></p>
        {% endif%}
        <!-- Login Form -->
        <form action="/login" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter your Username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your Password" required>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
