<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student View</title>
    <link rel="stylesheet" href="/static/login.css">
    <script src="/static/student.js"></script>
</head>
<body class="student_body" onload="loadStudentName()">
    <div class="teacher_navbar">
        <div>
            <h1 id="student_displayname">Hello, </h1>
        </div>
        <div id="student_buttons">
            <button onclick="student_courses_table()"> Your Courses</button>
            <button onclick="load_available_courses()"> Add Courses</button>
            <a href="/logout">Sign Out</a>
        </div>
    </div>
    <div id="formatting">
        
        <div id="student_table" hidden>
            <table>
                <thead>
                    <!-- <tr>
                        <th> Course name</th>
                        <th> Teacher</th>
                        <th> Time</th>
                        <th> Grades</th>
                    </tr> -->
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</body>
</html>