<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student View</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
    <a href="sign_out" id="sign_out_button">Sign Out</a>
    <div id="formatting">
        <div id="student_buttons">
            <button> Your Courses</button>
            <button>Add Courses</button>
        </div>
        <div id="student_table">
            <table>
                <thead>
                    <tr>
                        <th> Course name</th>
                        <th> Teacher</th>
                        <th> Time</th>
                        <th> Students Enrolled</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> Physics 121 </td>
                        <td> Susan Walker </td>
                        <td> TR 11:00-11:50 AM </td>
                        <td> 3/10 </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>