<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
    <link rel="stylesheet" href="/static/login.css">
    <script src="/static/student.js"></script>
</head>
<body onload="loadCourseName()">
    <div class="teacher_navbar">
        <div>
            <h1 id="coursename"></h1>
        </div>
        <div>
            <a href="/teacher">Your Course</a>
            <a href="/logout">Sign Out</a>
        </div>
    </div>
    <table id="students_table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Students</th>
                <th>Grade</th> 
                <th>Change Grade</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</body>
</html>