<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student View</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body class="teacher_body">
    <a href="/logout" id="sign_out_button">Sign Out</a>
    <table>
        <tr>
            <th>Course Name</th>
            <th>Teacher</th>
            <th>Time</th>
            <th>Students Enrolled</th>
        </tr>
        <tr>
        <tr>
            <td>CS162</td>
            <td>Mr.Meh</td>
            <td>5:00p</td>
            <td>22/33</td>
        </tr>
    </table>
</body>
</html>